<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="4.2">
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/DecimalMetric.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/DecimalMetricDeclaration.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/IntegerMetric.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/IntegerMetricDeclaration.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/Level.java">
<error line="1" severity="error" message="Missing a header - not enough lines in file." source="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/Metric.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/MetricDeclaration.java">
<error line="61" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
<error line="96" column="17" severity="error" message="Variable &apos;parentElement&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="98" column="21" severity="error" message="&apos;(&apos; is preceded with whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.MethodParamPadCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/MetricTarget.java">
<error line="1" severity="error" message="Line does not match expected header line of &apos;/*&apos;." source="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/PanopticodeArgument.java">
<error line="53" column="46" severity="error" message="&apos;isParameterizedType&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="77" column="34" severity="error" message="Avoid inline conditionals." source="com.puppycrawl.tools.checkstyle.checks.coding.AvoidInlineConditionalsCheck"/>
<error line="94" column="40" severity="error" message="Avoid inline conditionals." source="com.puppycrawl.tools.checkstyle.checks.coding.AvoidInlineConditionalsCheck"/>
<error line="95" column="18" severity="error" message="&apos;31&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="127" column="35" severity="error" message="&apos;isVarArg&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="150" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/PanopticodeClass.java">
<error line="53" column="33" severity="error" message="&apos;isEnum&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="61" column="37" severity="error" message="&apos;isAbstract&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="220" column="45" severity="error" message="&apos;(&apos; is preceded with whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.MethodParamPadCheck"/>
<error line="243" column="38" severity="error" message="&apos;isInterface&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="255" column="35" severity="error" message="&apos;isStatic&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/PanopticodeFile.java">
<error line="117" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
<error line="152" column="42" severity="error" message="&apos;name&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/PanopticodeMethod.java">
<error line="63" column="37" severity="error" message="&apos;isAbstract&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="67" column="49" severity="error" message="&apos;panopticodeClass&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="99" column="40" severity="error" message="&apos;isConstructor&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="169" column="42" severity="error" message="&apos;name&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/PanopticodePackage.java">
<error line="57" column="74" severity="error" message="&apos;name&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="115" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="144" column="42" severity="error" message="&apos;name&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/PanopticodeProject.java">
<error line="147" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="230" column="42" severity="error" message="&apos;name&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/RatioMetric.java">
<error line="50" column="25" severity="error" message="&apos;cast&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAfterCheck"/>
<error line="50" column="54" severity="error" message="&apos;1000.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="51" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
<error line="52" column="23" severity="error" message="&apos;10.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/RatioMetricDeclaration.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/Report.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/ReportRunner.java">
<error line="0" severity="error" message="Got an exception - java.lang.RuntimeException: Unable to get class information for DocumentException." source="com.puppycrawl.tools.checkstyle.TreeWalker"/>
<error line="1" severity="error" message="Line does not match expected header line of &apos;/*&apos;." source="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/Supplement.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/SupplementDeclaration.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/SupplementRunner.java">
<error line="0" severity="error" message="Got an exception - java.lang.RuntimeException: Unable to get class information for DocumentException." source="com.puppycrawl.tools.checkstyle.TreeWalker"/>
<error line="1" severity="error" message="Line does not match expected header line of &apos;/*&apos;." source="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/doclet/PanopticodeDoclet.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/AbstractMapItem.java">
<error line="34" column="12" severity="error" message="Variable &apos;size&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="35" column="10" severity="error" message="Variable &apos;bounds&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="36" column="9" severity="error" message="Variable &apos;order&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="37" column="9" severity="error" message="Variable &apos;depth&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="38" column="22" severity="error" message="Variable &apos;name&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="39" column="23" severity="error" message="Variable &apos;children&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="40" column="19" severity="error" message="Variable &apos;ccn&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="60" column="41" severity="error" message="&apos;bounds&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/AbstractStaticTreeMapCommand.java">
<error line="37" column="19" severity="error" message="&apos;static&apos; modifier out of order with the JLS suggestions." source="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck"/>
<error line="38" column="19" severity="error" message="&apos;static&apos; modifier out of order with the JLS suggestions." source="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck"/>
<error line="39" column="19" severity="error" message="&apos;static&apos; modifier out of order with the JLS suggestions." source="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck"/>
<error line="40" column="19" severity="error" message="&apos;static&apos; modifier out of order with the JLS suggestions." source="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck"/>
<error line="71" column="33" severity="error" message="&apos;1024&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="71" column="39" severity="error" message="&apos;768&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="96" column="57" severity="error" message="&apos;bounds&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="109" column="67" severity="error" message="&apos;3.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="110" column="84" severity="error" message="&apos;4.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="114" column="83" severity="error" message="&apos;4.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="118" column="52" severity="error" message="&apos;bounds&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="132" column="84" severity="error" message="&apos;4.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="137" column="46" severity="error" message="&apos;bounds&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="174" column="51" severity="error" message="&apos;bounds&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="177" column="55" severity="error" message="&apos;17.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="182" column="55" severity="error" message="&apos;bounds&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="210" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="214" column="26" severity="error" message="&apos;20&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="215" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="221" column="37" severity="error" message="&apos;bounds&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
<error line="222" column="11" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="231" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="235" column="54" severity="error" message="&apos;5&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="236" column="62" severity="error" message="&apos;15&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="241" column="32" severity="error" message="&apos;20&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="246" column="22" severity="error" message="&apos;20&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="247" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="251" column="22" severity="error" message="&apos;35&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="255" column="22" severity="error" message="&apos;25&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="259" column="22" severity="error" message="&apos;25&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="263" column="22" severity="error" message="&apos;25&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="267" column="22" severity="error" message="&apos;25&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="274" severity="error" message="Comment matches to-do format &apos;TODO:&apos;." source="com.puppycrawl.tools.checkstyle.checks.TodoCommentCheck"/>
<error line="274" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="307" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="313" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="355" column="115" severity="error" message="&apos;3&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="373" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/Categorizer.java">
<error line="1" severity="error" message="Line does not match expected header line of &apos;/*&apos;." source="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck"/>
<error line="21" column="12" severity="error" message="&apos;for&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="22" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="26" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
<error line="31" column="34" severity="error" message="&apos;3.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="37" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
<error line="48" column="44" severity="error" message="&apos;3.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="48" column="53" severity="error" message="&apos;5.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="48" column="58" severity="error" message="&apos;15.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="48" column="64" severity="error" message="&apos;15.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="51" column="54" severity="error" message="&apos;25.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="52" column="54" severity="error" message="&apos;17.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="56" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/Category.java">
<error line="1" severity="error" message="Line does not match expected header line of &apos;/*&apos;." source="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck"/>
<error line="6" column="12" severity="error" message="Variable &apos;fill&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="7" column="12" severity="error" message="Variable &apos;border&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="8" column="12" severity="error" message="Variable &apos;legendLabel&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/ContainerMapItem.java">
<error line="35" column="27" severity="error" message="Variable &apos;children&apos; must be private and have accessor methods." source="com.puppycrawl.tools.checkstyle.checks.design.VisibilityModifierCheck"/>
<error line="39" column="20" severity="error" message="&apos;3&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="51" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/LeafMapItem.java">
<error line="37" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="51" column="11" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="54" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
<error line="62" column="11" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="102" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="120" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="138" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="156" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="174" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="212" column="34" severity="error" message="&apos;border&apos; hides a field." source="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/StaticComplexityTreeMapCommand.java">
<error line="38" column="47" severity="error" message="&apos;6&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="39" column="47" severity="error" message="&apos;10&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="40" column="47" severity="error" message="&apos;25&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="67" column="51" severity="error" message="&apos;cast&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAfterCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/report/treemap/StaticCoverageTreeMapCommand.java">
<error line="38" column="45" severity="error" message="&apos;75.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="39" column="45" severity="error" message="&apos;50.0&apos; is a magic number." source="com.puppycrawl.tools.checkstyle.checks.coding.MagicNumberCheck"/>
<error line="40" column="45" severity="error" message="&apos;(&apos; is followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.ParenPadCheck"/>
<error line="41" column="45" severity="error" message="&apos;(&apos; is followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.ParenPadCheck"/>
<error line="62" severity="error" message="Line has trailing spaces." source="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck"/>
<error line="67" column="47" severity="error" message="&apos;cast&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAfterCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/supplement/emma/CouldntFindElementException.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/supplement/emma/CouldntNarrowMethodMatchesException.java">
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/supplement/emma/EmmaSupplement.java">
<error line="0" severity="error" message="Got an exception - java.lang.RuntimeException: Unable to get class information for CouldntFindElementException." source="com.puppycrawl.tools.checkstyle.TreeWalker"/>
<error line="43" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="53" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/supplement/javancss/JavaNCSSSupplement.java">
<error line="60" column="23" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/supplement/jdepend/JDependSupplement.java">
<error line="1" severity="error" message="Line does not match expected header line of &apos;/*&apos;." source="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck"/>
<error line="30" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="34" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="38" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="42" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="46" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="50" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="54" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="58" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="62" severity="error" message="Line is longer than 120 characters." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>
<error line="99" column="15" severity="error" message="&apos;if&apos; is not followed by whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="130" column="78" severity="error" message="&apos;)&apos; is preceded with whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.ParenPadCheck"/>
</file>
<file name="/Users/julias/projects/personal/panopticode/prod/src/org/panopticode/util/ArgumentValidation.java">
<error line="24" column="1" severity="error" message="Utility classes should not have a public or default constructor." source="com.puppycrawl.tools.checkstyle.checks.design.HideUtilityClassConstructorCheck"/>
</file>
</checkstyle>
